table {
    border-collapse: collapse;
    margin-right: 10px;
}

thead tr {
    background-color: var(--green-darkened);
    color: white;
}

tr, th {
    border: 1px solid #464646;
    padding: 8px;
}

td {
    border: 1px solid #464646;
    padding: 10px 15px;
}

tbody tr:nth-child(odd) {
    background-color: white;
}

tbody tr:nth-child(even) {
    background-color: rgb(235, 235, 235);
}
