footer {
    display: none;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 16px 0px;
    color: white;
    text-align: center;
    overflow: hidden;
    background-color: rgb(48, 50, 53);
}