/* input groups */

.input-group {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 25px;
}


/* inputs */

input {
    padding: 10px 0px 10px 9px;
    border: 1px solid #00000063;
    border-radius: 4px;
    font-size: 15px;
    display: block;
    margin-top: 5px;
    width: calc(100% - 11px);
}

.row > .col:not(:last-child) > .input-group:only-child > input {
    width: calc(100% - 22px);
}

/* selects */
select {
    padding: 10px 0px 8px 9px;
    border: 1px solid #00000063;
    border-radius: 4px;
    font-size: 15px;
    display: block;
    margin-top: 5px;
    width: calc(100% - 11px);
}

/* labels */
.input-group label {
    color: rgb(32, 32, 32);
    display: inline-block;
    font-size: 16px;
    margin-bottom: 1px;
}

.input-group label.required:after {
    content: "*";
    color: rgb(255, 100, 100);
    position: relative;
    right: -2px;
}