/* rows & cols */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col {

}

.col.col-1 {
    width: 10%;
}

.col.col-2 {
    width: 20%;
}

.col.col-3 {
    width: 30%;
}

.col.col-3-3 {
    width: 33.33%;
}

.col.col-4 {
    width: 40%;
}

.col.col-5 {
    width: 50%;
}

.col.col-6 {
    width: 60%;
}

.col.col-7 {
    width: 70%;
}

.col.col-8 {
    width: 80%;
}

.col.col-9 {
    width: 90%;
}

.col.col-10 {
    width: 100%;
}